$brandColor: #e8be28;

.metismenu {
  a {
    padding: 10px 15px 0 0;
  }
  ul {
    a {
      padding: 10px 15px 10px 30px;
    }
    ul {
      a {
        padding: 10px 15px 10px 50px;
      }
    }
  }
}

.sidebar-nav-item-icon {
  padding-right: 3px;
}

.metismenu ul > li:last-child {
  padding-bottom: 0;
}

.form-control,
.form-control:focus {
  color: #7c838e;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25) !important;
}

.brandColor {
  color: $brandColor !important ;
}

.btn-search {
  color: $brandColor !important;
  &:hover,
  &:focus {
    //box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25) !important;
    box-shadow: none !important;
    color: white !important;
    background-color: $brandColor;
    background-color: darken($brandColor, 10%) !important;
  }
}

a.icon:hover {
  color: $brandColor !important;
}

.btn-brand {
  border-color: $brandColor;
  color: $brandColor;

  &:hover {
    color: white;
    background-color: $brandColor !important;
  }
}

.nav-tabs .nav-link.active {
  border-color: $brandColor;
  color: $brandColor;
}

#left-sidebar .sidebar-nav {
  margin-top: 18px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

//SideBar & Nav
.sideMenuIcons {
  padding: 0 !important;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideMenuLinks {
  padding: 0 !important;
  width: 100%;
  height: 45px;
  justify-content: start;
  align-items: center;
  display: flex !important;

  .fa.arrow {
    position: absolute;
    right: 10px;
  }
}

#left-sidebar .brand-name {
  position: relative;
  height: 31px;
  overflow: hidden;
  margin-top: 0;
}

#left-sidebar .brand-name > img {
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  margin-top: 2px;
}

//Checkbox
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $brandColor !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: $brandColor !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: lighten($brandColor, 5%);
  border-color: lighten($brandColor, 5%);
}

//rs
.page-item.active .page-link {
  background-color: $brandColor;
  border-color: $brandColor;
}
.page-link {
  color: white;
  background-color: transparent;
  border-color: $brandColor;
}
.paginate_button.page-item.previous.disabled > a,
.paginate_button.page-item.next.disabled > a {
  background-color: transparent !important;
  border-color: $brandColor;
}
a.text-info:focus,
a.text-info:hover {
  color: darken($brandColor, 10%) !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:hover:not(.disabled) {
  border-color: lighten($brandColor, 10%) !important;
  color: lighten($brandColor, 10%) !important;
}

.dark-mode .metismenu a.active,
.dark-mode .metismenu .active > a {
  color: #c8cfd6;
}

.custom-select {
  color: #848688 !important;
}

.sweet-alert {
  position: fixed !important;
  left: initial !important;
  top: initial !important;
}

.profileImage {
  // width:400px;
  // height: 400px;
}

// SummerNote POPOver Hide

.note-popover.popover {
  display: none;
}

.sweet-alert h2 {
  font-size: 16px !important;
}

// input:required .col-form-label:after {
//   content:"*" !important;
//   color:red !important;
// }

.form-group.required .col-form-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 1px;
  top: 7px;
}

.table tr th,
.table tr td {
  white-space: normal !important;
  width: 100% !important;
  word-break: break-word !important;
}

.table tr th:first-child,
.table tr td:first-child {
  width: 57px !important;
}

// .table.table_custom tr th:not(:first-child),
// .table.table_custom tr td:not(:first-child) {
//   width: 100% !important;
// }

.table {
  table-layout: fixed !important;
}

.resetPassword-btn
{
  padding: 0px !important;
  position: absolute !important;
  top: 9px !important;
  right: 0px !important;
}
.hidden {
  display: none !important;
}


//Loader

.css-79elbk {
  position: inherit !important;
}
.css-df17o1 {
  position: fixed !important;
  color: $brandColor !important;
}

.css-50etie svg circle {
  stroke: $brandColor !important;
}

 
  
 
.css-df17o1 {   
  color: $brandColor !important;
}

.css-50etie svg circle {
  stroke: $brandColor !important;
}
 
.css-79elbk {
  position: fixed !important;
   color: $brandColor !important;
  z-index: 99999;
}


div.dataTables_wrapper div.dataTables_filter input {
  margin: 5px !important;
}


div.dataTables_wrapper div.dataTables_length select {
  margin-top: 4px;
}