//Brand Color
$brandColor: #e8be28;

// No media query for `xs` since this is the default in Bootstrap

// Extra Small devices (Extra Small phones, 320px)

$extraSmallDevices: "only screen and (max-width: 320px)";

// Small devices (landscape phones, 576px and up)

$smallDevices: "only screen and (max-width: 767px)";

// Small devices (landscape )

$smallDevicesLandscape: "only screen and (max-width: 767px) and (orientation: landscape)";

// Medium devices (tablets, 768px and up)

$mediumDevices: "only screen and (min-width: 768px) and (max-width: 991px) ";

// Medium devices (tablets, 768px and up) (landscape )

$mediumDevicesLandscape: "only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape)";

// Large devices (desktops, 992px and up)

$largeDevices: "only screen and (min-width: 992px) and (max-width: 1199px)";

// Large devices (desktops, 992px and up) (landscape )

$largeDevicesLandscape: "only screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape)";

// Extra large devices (large desktops, 1200px and up)

$extraLargeDevices: "only screen and (min-width: 1200px)";

//Icons
$icons: (
  "faq": "\f059",
  "community": "\f086",
  "email": "\f0e0",
);

.metismenu {
  a {
    padding: 10px 15px 0 0;
  }
  ul {
    > li {
      a {
        &::before {
          content: "\f13a";
          font-family: fontAwesome !important;
        }
      }

      @each $name, $icon in $icons {
        a.#{$name} {
          &::before {
            content: $icon;
          }
        }
      }

      ul {
        > li {
          a {
            &::before {
              content: "\f212";
              font-family: fontAwesome !important;
            }
          }
        }
      }
    }
    a {
      padding: 10px 15px 10px 30px;
    }
    ul {
      a {
        padding: 10px 15px 10px 50px;
      }
    }
  }
}

.sidebar-nav-item-icon {
  padding-right: 3px;
}

.metismenu ul > li:last-child {
  padding-bottom: 0;
}

.form-control,
.form-control:focus {
  color: #7c838e;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25) !important;
}

.brandColor {
  color: $brandColor !important ;
}

.star-rating {
  color: #ffb400 !important;
}

.btn-search {
  color: $brandColor !important;
  &:hover,
  &:focus {
    //box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25) !important;
    box-shadow: none !important;
    color: white !important;
    background-color: $brandColor;
    background-color: darken($brandColor, 10%) !important;
  }
}

a.icon:hover {
  color: $brandColor !important;
}

.btn-brand {
  border-color: black;
  color: white;
  background-color: black !important;

  &:hover {
    color: white;
    background-color: $brandColor !important;
    border-color: $brandColor;
  }
  &.filled {
    color: white;
    background-color: $brandColor !important;
    &:hover {
      background-color: darken($brandColor, 10%) !important;
    }
  }

  &[disabled] {
    color: white;
    background-color: $brandColor !important;
  }
}

.nav-tabs .nav-link.active {
  border-color: $brandColor;
  color: $brandColor;
}

#left-sidebar {
  .sidebar-nav {
    margin-top: 18px;
  }
}

// .offcanvas-active .page {
//   left: 0;
//   width: 100%;

//   @media #{$mediumDevices} {
//     left: 0;
//     width: 100%;
//   }
// }

.page {
  @media #{$mediumDevices} {
    left: 0;
    width: 100%;
  }
}

.menu_toggle {
  display: inline-block;
  font-size: 19px;
  margin: 5px 10px 0 0;
  color: #c8cfd6;

  @media #{$smallDevices} {
    margin: 5px 0 0 10px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

//SideBar & Nav
.sideMenuIcons {
  padding: 0 !important;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideMenuLinks {
  padding: 0 !important;
  width: 100%;
  height: 45px;
  justify-content: start;
  align-items: center;
  display: flex !important;

  .fa.arrow {
    position: absolute;
    right: 10px;
  }
}

#left-sidebar .brand-name {
  position: relative;
  height: 31px;
  overflow: hidden;
  margin-top: 0;
}

#left-sidebar .brand-name > img {
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  margin-top: 2px;
}

.header-sticky {
  position: fixed;
  top: 0;
  z-index: 10;

  @media #{$smallDevices} {
    padding-top: 0 !important;
  }
}

.page-header {
  .right {
    @media #{$mediumDevices} {
      justify-content: flex-end;
    }
    @media #{$smallDevices} {
      justify-content: flex-end;
    }
  }
}

//Content-Wrapper
.section-body.content-wrapper {
  //Text Section Setings
  ::selection {
    background: #a8aaac;
    //color: white;
  }

  ::-moz-selection {
    /* Code for Firefox */
    background: #a8aaac;
    //color: white;
  }

  padding: 0;
  margin-top: 78px !important;

  @media #{$mediumDevices} {
    margin-top: 128px !important;
  }

  @media #{$smallDevices} {
    margin-top: 72px !important;
  }
  .container-fluid {
    padding: 1.5rem 35px 20px !important;
    min-height: calc(100vh - 73px);
    background-color: #f4f4f4;

    @media #{$smallDevices} {
      padding: 0.5rem 15px 20px !important;
    }

    .white-container {
      background-color: white;
      // box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px,
      //   rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px,
      //   rgba(35, 35, 35, 0.05) 0px 64px 64px;
      border-radius: 0.55rem;
      border: 1px solid #e8e9e9;
      padding: 20px;
    }

    .card {
      background-color: white !important;
      // box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px,
      //   rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px,
      //   rgba(35, 35, 35, 0.05) 0px 64px 64px;
      border-color: #e8e9e9;
    }

    .form-control,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_filter,
    .input-group-append > .btn,
    .dataTables_wrapper .dataTables_paginate .input-group-append > .paginate_button,
    .dataTables_wrapper .dataTables_paginate .input-group-append > .paginate_button,
    .custom-select {
      border-color: #e8e9e9;
      background-color: white;
    }

    .form-control,
    .dataTables_wrapper .dataTables_filter,
    .form-control:focus,
    .dataTables_wrapper .dataTables_filter:focus {
      color: #7c838e;
    }

    .table.table_custom tr:nth-last-of-type(1) {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .table.table-striped tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .input-group-text,
    .page-header,
    .timeline_item,
    .timeline_item .tl_avatar,
    .recent_comments li,
    .feeds_widget li,
    .list-group-item,
    .progress,
    .file_folder a,
    .chat_app .chat_list,
    .selectgroup-button,
    .card-footer {
      border-color: #e8e9e9;
    }

    .note-editor.note-frame .note-editing-area .note-editable {
      background: #fff;
      color: #7d8490;
    }

    .note-popover .popover-content,
    .panel-heading.note-toolbar {
      background-color: white;
    }

    .note-editor.note-frame {
      border-color: #e8e9e9;
    }

    .reviewborder {
      border-color: #e8e9e9;
    }

    .page-title,
    .form-control-plaintext {
      color: inherit;
    }
  }
}

.dropdown-item {
  &.active {
    background-color: $brandColor;
    color: white !important;
  }

  &:active {
    background-color: darken($brandColor, 10%) !important;
    color: white !important;
  }
}

// Removed Dropdown Default Caret for SummernOte
.dropdown-toggle::after {
  border: none;
}

//Star Rating
.dv-star-rating {
  margin-top: 5px;
  font-size: 16px;
  font-family: fontAwesome;
}

//Checkbox
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $brandColor !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: $brandColor !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: lighten($brandColor, 5%);
  border-color: lighten($brandColor, 5%);
}

//rs
.page-item.active .page-link {
  background-color: $brandColor;
  border-color: black;
}
.page-link {
  color: #000;
  background-color: transparent;
  border-color: black;

  &:hover {
    background-color: darken($brandColor, 5%);
    border-color: black;
    color: white;
  }
}
.paginate_button.page-item.previous.disabled > a,
.paginate_button.page-item.next.disabled > a {
  background-color: transparent !important;
  border-color: black;
}
a.text-info:focus,
a.text-info:hover {
  color: darken($brandColor, 10%) !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:hover:not(.disabled) {
  border-color: lighten($brandColor, 10%) !important;
  color: lighten($brandColor, 10%) !important;
}

.dark-mode .metismenu a.active,
.dark-mode .metismenu .active > a {
  color: #c8cfd6;
}

.sweet-alert {
  position: fixed !important;
  left: initial !important;
  top: initial !important;
}

@media (max-width: 540px) {
  .sweet-alert {
    width: 90% !important;
    right: inherit !important;
    left: 0 !important;
  }
}

.sweet-alert h2 {
  font-size: 19px !important;
}

.custom-select {
  color: #7d8490 !important;
}

.lblrating {
  padding-right: 15px;
}

.radrating {
  margin-top: 12px;
  margin-right: 5px;
}

.note-popover.popover {
  display: none;
}

.reviewborder {
  border: 1px solid #393f45;
  margin-bottom: 15px;
  border-radius: 0px 10px 0px 10px;
  padding: 10px;
}

.reviewfrom {
  font-size: 10px;
  font-style: italic;
}

.reviewstar {
  padding: 5px;
}

.hidden {
  display: none !important;
}

// rating

.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url("/assets/images/star-off-big.png");
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: "";
  width: 30px;
  height: 30px;
  background: url("/assets/images/star-on-big.png");
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before {
  opacity: 1;
}

//Table Config

.table.table_custom tr th,
.table.table_custom tr td {
  //white-space: normal !important;
  //width: 100% !important;
  word-break: break-word !important;
}

// .table.table_custom tr td a {
//   max-width: 240px;
//   min-width: 220px;
//   white-space: normal;
//   //word-break: break-all;
// }

.table_content {
  max-width: 240px;
  min-width: 220px;
  white-space: normal;
  //word-break: break-all;
}

// .table.table_custom tr th:first-child,
// .table.table_custom tr td:first-child {
//   width: 57px !important;
// }

// .table {
//   table-layout: fixed !important;
// }

.table.table-vcenter td,
.table.table-vcenter th {
  vertical-align: middle;
}

.form-group.required .col-form-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 1px;
  top: 7px;
}

.member-status {
  margin: 5px;
}

.profile-img {
  max-height: 200px;
}

.profile-textarea {
  min-height: 120px;
  overflow-x: scroll;
  max-height: 150px;
}

.dropify-wrapper {
  border: none;
  .dropify-preview {
    padding: 0;
  }
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

//Loader

.css-50etie svg circle {
  stroke: $brandColor !important;
}
.css-df17o1 {
  color: $brandColor !important;
}

.css-79elbk {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  z-index: 999999 !important;
  color: $brandColor !important;
}

.css-79elbk:empty {
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
  bottom: inherit !important;
  height: inherit !important;
  width: inherit !important;
  color: $brandColor !important;
  z-index: 0 !important;

  .css-df17o1 {
    color: $brandColor !important;
  }
}

div.dataTables_wrapper div.dataTables_filter input {
  margin: 5px !important;
}

div.dataTables_wrapper div.dataTables_length select {
  margin-top: 4px;
}

.cm-check {
  margin-bottom: 10px;
}

.cm-review-title {
  font-weight: bold;
}

//Table

// .table {
//   table-layout: fixed !important;
// }

// .table tr th,
// .table tr td {
//   white-space: normal !important;
//   width: 100% !important;
//   word-break: break-word !important;
// }

// .table tr th:first-child,
// .table tr td:first-child {
//   width: 57px !important;
// }

// .table.table_custom tr th:not(:first-child),
// .table.table_custom tr td:not(:first-child) {
//   width: 100% !important;
// }
.video-react-video {
  width: 100% !important;
}

select {
  -webkit-appearance: menulist !important;
}
// .video-react-control-bar,
// .video-react-big-play-button {
//   display: none !important;
// }

//Remove Default sort icon

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  display: none !important;
}

//Inherit Pagination Text
div.dataTables_wrapper div.dataTables_info {
  white-space: inherit;
}

//Add Custom Sorting Icon
table.dataTable thead th {
  background: transparent !important;
  white-space: nowrap;
}

table.dataTable thead span.sort-icon {
  display: inline-block;
  padding-left: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
  margin-top: 4px;
}

table.dataTable thead .sorting span {
  background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_both.png") no-repeat
    center right;
}
table.dataTable thead .sorting_asc span {
  background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc.png") no-repeat
    center right;
}
table.dataTable thead .sorting_desc span {
  background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc.png") no-repeat
    center right;
}

table.dataTable thead .sorting_asc_disabled span {
  background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc_disabled.png")
    no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled span {
  background: url("http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc_disabled.png")
    no-repeat center right;
}

#result {
  display: block;
  position: relative;
  margin-top: 40px;
}
.face {
  position: absolute;
  height: 0px;
  width: 0px;
  background-color: transparent;
  border: 4px solid rgba(10, 10, 10, 0.5);
}

//Dashboard Program Progress

// Progress
.progress {
  width: 100%;
  height: 6px;
  .progress-bar {
    height: 6px;
  }

  &.mediumHeight {
    height: 1.5em;

    .progress-bar {
      height: 1.5em;
    }
  }
}

#accordionExample {
  .card:not(:last-of-type) {
    border-bottom: 1px solid #e8e9e9;
  }
  .card {
    margin-bottom: 10px;
    .card-header {
      padding: 0;
      flex-direction: column;
      .btn {
        width: 100%;
      }

      .Title,
      .Percentage,
      .Status {
        flex: 0 0 33.33%;
      }

      .Title {
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .Percentage {
        text-align: right;
      }

      .Status {
        text-align: center;
      }

      .Percentage,
      .Status {
        font-size: 16px;
        font-weight: 600;
      }

      .Module {
        justify-content: center;
        padding: 10px 25px 0 0;
      }
    }

    .ModuleBody {
      padding-top: 0;
      .card {
        border: none;
        margin-bottom: 0;
      }

      .card-header {
        a {
          padding: 5px 40px 5px 20px;
          border: none;
          font-size: 16px;
          font-weight: 600;

          .fa {
            position: absolute;
            top: 10px;
            left: 0;
          }

          .arrow {
            right: 2px;
            top: 16px;
          }
        }
      }

      .card-body {
        background-color: #eeeeee;
      }

      .listing {
        padding: 0;
        list-style: none;

        li {
          position: relative;
          padding-left: 20px;
          font-size: 16px;
          margin-bottom: 6px;
          font-weight: 600;

          i {
            margin-left: -20px;
            margin-right: 6px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          // &::before {
          //   font-family: "fontAwesome";
          //   content: "\f058";
          //   position: absolute;
          //   left: 0;
          //   color: #28a745 !important;
          // }
        }
      }
    }

    .btn {
      position: relative;
      padding: 10px 60px 10px 25px;
      align-items: center;
      text-align: inherit;

      &.program {
        justify-content: space-between;
        font-weight: 600;
      }

      .arrow {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);

        &:before {
          font-family: "fontAwesome";
          float: right;
          transition: all 0.5s;
          font-size: 20px;
        }
      }

      &[aria-expanded="false"] span.arrow:before {
        content: "\f105";
      }

      &[aria-expanded="true"] span.arrow:before {
        content: "\f105";
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}

.dashboardChart {
  padding: 10px;
}

.earning-list-wrapper {
  margin: 15px 0;
}

.earning-amount {
  margin: 10px 0 20px;
  font-size: 25px;
  font-weight: 800;
  color: #21ba45 !important;
}
.earning-list {
  display: flex;
  margin: 0 10px;

  div {
    &:not(:first-child) {
      text-align: right;
    }

    &:first-child {
      min-width: 100px;
      font-weight: 600;
      font-size: 16px;
    }
    flex-grow: 1;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
  }
}

.dashboardCounterDiv {
  height: 455px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

.css-1wa3eu0-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}

// body.gradient .bg-cyan {
//   // background: linear-gradient(45deg, #17a2b8, #75d5cd) !important;
//   background: #21ba45 !important;
// }

// .cm-table.table_custom tr th:first-child,
// .cm-table.table_custom tr td:first-child {
//   width: 100% !important;
// }

.table tr td span.dateFormat {
  display: none;
}

.CircularProgressbar {
  width: 75% !important;
}

.CircularProgressbar_li li {
  margin-bottom: 20px !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.cm-title {
  white-space: pre-wrap !important;
  padding-right: 5px;
}


metismenu a {
  transition: all 0.3s ease-out;
  display: block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: block;
  border-radius: 0;
  border-right: 2px solid transparent;
  color: #4d5052;
  position: relative;
  padding: 10px 0;
  outline-width: 0;
  font-size: 14px;
}
 
.sideMenuLinks {
  padding: 0 !important;
  width: 100%;
  height: 45px;
  justify-content: start;
  align-items: center;
  display: flex !important;
}


.metismenu > li i {
  font-size: 16px;
  width: 30px;
  display: inline-block;
  position: relative;
  top: 1px;
}

@media only screen and (min-width: 1200px)
 {
  .metismenu > li i {
      font-size: 25px;
      margin-right: 18px;
      width: 30px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

 
.sideMenuLinks i {
    transition: all 0.2s ease-out;
}
 
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tag {
   
  border: inherit !important;
   
    
 
}

.tag {    
  padding: 0px 8px 0px 8px !important;       
}

.tag-success {
    background-color: #21ba45 !important;   
    color: #ffffff !important;   
}

.tag-danger {
    background-color: #db2828 !important;   
    color: #ffffff !important;   
}

body.gradient .bg-red, body.gradient .bg-danger, body.gradient .btn-danger {
  background: linear-gradient(45deg, #000000, #000000) !important;
  border-color: #000000 !important;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(29, 27, 27, 0.6) 0px 0px 8px !important;
}

.react-dropdown-tree-select .dropdown .dropdown-content {
  
  z-index: 2 !important;
   
}

.g, .g iframe{
  width: 100% !important ;
}

.form-control div p iframe{
  width: 100% !important ;
}


.forblur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  pointer-events: none;
  opacity: 0.7;
}

.react-datepicker-popper {
  z-index: 99 !important;
}


.notification .checkbox-inline, .radio-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

.notification label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px;
  
}

.notification input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin-right: 5px;
}

.cm-td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  width: 498px;
}